{% extends "base.html" %}
{% block title %} {{ category.name }} {% endblock %}

{% block content %}
<div class="container">
    <h1>{{ category.name }}</h1>

    <div class="products">
        {% for product in products %}
        <div class="product">
            <h3>{{ product.name }}</h3>
            <p>Price: ₹{{ product.price }}</p>
            <p>Stock: ₹{{ product.stock }}</p>
            <a href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
    </div>
      {% empty %}
      <p>No products in this category yet.</p>
     {% endfor %}
   </div>
</div>
{% endblock %}
