{% extends "base.html" %}
{% block title %} उत्पाद - Sheoharnama Store {% endblock %}

{% block content %}
<section class="products-header">
    <h1>Humare products</h1>
    <p>Gunwanta and vishwasniya ka chayan</p>
</section>

<section class="products-grid">
    {% for product in products %}
    <div class="product-card">
        
    {% if product.image and product.image.name != 'products/default.png' %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="sbn-product-image">
    <!-- <p><small>Using PRODUCT image</small></p> -->
{% else %}
    <img src="{{ MEDIA_URL }}products/default.png" alt="Default image">
    <!-- <p><small>Using DEFAULT image</small></p> -->
{% endif %}

        
        <h3>{{ product.name }}</h3>
        <p>Kimat: {{ product.price }}</p>
        <button>Cart mein jode</button>
      
    </div>
    {% endfor %}
</section>
{% endblock %}
